body{
    /* margin: 0pt; */
    /* box-sizing: border-box; */
    background-color: snow;
    
}

.pure-g{
    /* avoids breaking if border styling is applied to elements containing girds */
    box-sizing: border-box;
}

/* custom css for the icons from google */
.material-icons{
    background-color: inherit;
    

}

.title{
    text-decoration: underline;
}

.imageContainer{
    /* border: 5px solid #7A7978;*/
    border-radius: 2%; 
    /* width:80%; */
    height:auto; 
    
    /* background-color: white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;

}
.imageContainer>img{
    margin:0px;
    border-radius: 1%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.buttonContainer{

}

.intro{
    background-color: bisque; /*if image not found */
    background-image: url("../images/chris-ried-ieic5Tq8YMk-unsplash.jpg");
    /* background:  linear-gradient(to bottom, rgba(32, 32, 48,0.9), rgba(128,128,128, 0)); */
    padding-top:0;  
    height:40%;
}

.intro > h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 10% 20%;
    margin: 0;
    color: #fff;
}

.navbar{
    border: 5px solid #000 ;
    background-color: #333333;
    height:fit-content;

    /* Fixed Headers */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    /* overflow:hidden; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.sectionWrapper{
    padding:5%;
    /* margin: 5%; */
}
.section{
    padding: 5% 5%;
    margin: 0 auto;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 80%;
    border: 5px solid goldenrod;
    background: white;
}

#aboutMe{
    background:  linear-gradient(to bottom, rgba(57, 61, 63,1 ), rgba(193, 189, 219, 1));

    
}

#meImageContainer{
    height:100%;
    width:40%;
    margin: 5%;
    

}

#aboutmeDesc>h3{
    text-decoration: underline;
}
.Education{

}


#myProjects{
    background:  linear-gradient(to bottom, rgba(193, 189, 219,1), rgba(162, 199, 229,1));

}

.card{
    padding: 1%;
    position: relative;
    /* width:80%;
    */
    height:fit-content;

    /* background-color:snow; */
    border: 5px solid gold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* overflow: scroll; */
}

.projectDetails{
    text-align: center;
    /* padding: 10px 20px; */
}

#prevButton
#nextButton{
    color: #A62639;
    /* font-size: 70px; */
}